.mainCadastro {
    display: flex;
    width: 100%;
    background: rgb(51,56,61);
    background: linear-gradient(180deg, rgba(51,56,61,1) 0%, rgba(28,29,32,1) 60%);
    
    .mainDiv {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 50%;
            .welcomeDiv {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                h1 {
                    color: #E0E0E0;
                    font-size: 48px;
                    font-weight: 200;
                    margin: 0;
                    
                }
                h2 {
                    color: #E0E0E0;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 8px 16px 0px 0px;
                    flex-wrap: wrap;
                    margin: 0;
                }
            }
        
            .formDiv {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
        
                p {
                    font-size: 32px;
                    color: #E0E0E0;
                    font-weight: 300;
                }            
    
                .passwordChecks {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin: 8px;
                    justify-content: flex-start;
                    align-items: flex-start;
                    p{                        
                        font-size: 12px;
                        margin: 0;
                        padding: 4px;
                        color: rgb(146, 0, 0);
                    }
                }          
    
                .userIcon, .passIcon {
                    width: 30px;
                }
            
                .userFormInput--active {
                    padding-right: 12%;
                    background-image: url("../../assets/images/user-icon.svg");
                    background-repeat: no-repeat;
                    background-position: center right 5%;
                    background-size: 7%;
                    transition: 0ms;
                }
            
                .passFormInput--active {
                    padding-right: 12%;
                    background-image: url("../../assets/images/password-icon.svg");
                    background-repeat: no-repeat;
                    background-position: center right 5%;
                    background-size: 7%;
                    transition: 0s;
                }
            
                .inactiveIcon {
                    display: none;
                }
    
                .errorContainer {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    display: none;
                    width: 90%;
                    margin: 0;
                    margin-top: 1rem;
                    p {
                        color: #E9B425;
                        font-weight: 500;
                        font-size: 0.8rem;
                        margin: 0;
                    }
                    &__active {
                        display: flex;
                    }
                }
    
                .signUpDiv {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 1rem;
                    margin: 0;
                    .signUpText{
                        text-align: center;
                        font-size: 16px;
                        font-weight: 200;
                        a {
                            color: #FF2D04;
                            text-decoration: none;
                            cursor: pointer;
                        }
    
                    }
                }
    
                button {
                    border-radius: 24px;
                    border: none;
                    background-color: #FF2D04;
                    height: 3rem;
                    width: 19rem;
                    color: #FFFFFF;
                    font-weight: 400;
                    margin-top: 32px;
                }
            }
        }
        
    }

    .divImage {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        height: 100vh;
        background-image: url(../../assets/images/main-image.png);
        background-position: left 10%;
        background-size: cover;
        background-repeat: no-repeat;
        img {
            width: 30%;
            padding: 30px;
        }
    }
}