.bodyHome {
  background: rgb(240,240,240);
  height: 100vh;
  width: 100vw;
}

.mainHome {
    width: 100%;

    .homeContent {
      margin: 0;
      .divImage {
        width: 30%;
        height: 100vh;
        background-image: url(../../assets/images/main-logo-image.png);
        background-position: right 30%;
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
    }
    
    .texts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      margin-right: 4rem;
      margin-top: 2rem;
      padding-top: 3rem;
      .englishFirst {
          font-weight: bold;
          font-size: 24px;
          margin: 0;
          color: #C12D18;
      }
      .english {
          font-weight: bold;
          font-size: 36px;
          letter-spacing: 2px;
          margin: 0;
          color: #C12D18;
      }
  
      .portugues {
          font-size: 16px;
          margin-top: 0;
      }
    }
    }
}