.header {
    display: flex;
    justify-content: space-between;
    .logo {
        margin: 16px;
    }

    .weather {
        margin: 16px;
        font-size: 16px;
    }
}

@media (max-width: 430px) {
    .header {
        flex-wrap: wrap;
        .logo {
            display: flex;
            width: 100%;
            margin-left: 9rem;
        }
    
        .weather {
            margin: 8px;
            font-size: 8px;
        }
    }
}

@media (max-width: 380px) {
    .header {
        flex-wrap: wrap;
        .logo {
            display: flex;
            width: 100%;
            margin-left: 7.5rem;
        }
    
        .weather {
            margin: 8px;
            font-size: 8px;
        }
    }
}

@media (max-width: 325px) {
    .header {
        flex-wrap: wrap;
        .logo {
            display: flex;
            width: 100%;
            margin-left: 6rem;
        }
    
        .weather {
            margin: 8px;
            font-size: 8px;
        }
    }
}