.divImage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100vh;
    background-image: url(../../../assets/images/main-image.png);
    background-position: left 10%;
    background-size: cover;
    background-repeat: no-repeat;
    img {
        width: 30%;
        padding: 30px;
    }
}